head
    style
        include ./cv.css
    //- link(rel='stylesheet', href='cv.css')
    title User Data
form(method='POST' action="submit-form")
  h1 Search Here
    label(for='name') Enter Name:
    input#username(type='text' name='name' placeholder='ali shahzad')
    input#submit.btn(type='submit' name='id' value='Search Data')
                            

